body {
  background-color: #030;
  color: white;
  text-align:center;
  font-size: 15px;
  font-family: 'Anton', sans-serif;
  margin: 10px;
  height: 100%;
}

.h1, .h2, h1, h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

#announcements {
  position: relative;
  height: 100%;
}

#announcements > div{
  position: absolute;
  height: 100%;
  width: 100%;
}
#announcements > div img{
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  transform: translate(0px, -50%);
  position: relative;
}

#container {
  height: 80%;
}

#classes {
  display: table;
  height: 100%
}

#classes > div {
  display: table-row;
}

#classes > div h1{
  display: table-cell;
  vertical-align: middle;
}


#classes > div h1{
  display: table-cell;
  vertical-align: middle;
}

.prayerTimes {
  text-align: center;
  font-size: 1.5em;
  background: -webkit-linear-gradient(top, #030 20%,#cda 100%);
  position: absolute;
  width: 102%;
  bottom: 0px;
}

#benefits
{
  text-align: center;
  color: white;
  position: relative;
  display: block;
}

#benefits div {
  position:absolute;
  width: 100%;
  padding: 0px 40px 0px 5px;
}

.benefit-source
{
  font-size: 1em;
  text-align: right;
}

.benefit-content
{
  font-size: 1.2em;
}

#benefits > div:first-child
{
  display:block;
}

