body {
  background: black;
  color: white;
}

.title {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2em;
}

.container {
  padding: 3em;
  width: 100%;
}

.prayerTimes {
  padding-top: 40px;
}

#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
