#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Medula One', cursive;
  font-size: 1.2em;
  background: -webkit-linear-gradient(top, #FFF 10%, #CCC 80%,#888 100%)
}

#announcements {
  height: 63%;
}

.prayerTimes {
  font-size: 2.5em;
}
