body {
  background: black;
  color: #000;
  text-align:center;
  font-size: 9px;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  padding: 10px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 1.3em;
}

#announcements {
  position: relative;
  height: 40%;
}

#announcements > div{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 35px 0px;
}

#announcements > div img {
  box-shadow: 0 15px 25px 0 rgba(250,250,250, 0.6), 0 0 0 0 rgba(250, 250, 250, 0.6);
}

.prayerTimes {
  font-size: 2em;
  padding: 0px;
  margin: 0px;
  color: #fff;
  background: -webkit-radial-gradient(center, rgba(100,100,100,1) 10%, rgba(100,100,100,0.5) 40%, transparent 70%);
}

.prayerTimes > .row {
  padding-bottom: .5em;
}
* > .row > div {
  padding: 0px;
}

.classTimes {
  padding: 0px;
  font-size: 2.5em;
  color: #9df;
  background: -webkit-radial-gradient(center, rgba(100,100,100,1) 10%, rgba(100,100,100,0.5) 40%, transparent 70%);
}

body .row {
  margin: 0px;
}

body * {
  padding: 0px;
}

.prayerTimes .title {
  font-size: 1.2em;
}

.prayerTimesTitle {
  color: #9ff;
  font-size: 2em;
}

#tweets {
  color: white;
  font-size: 2em;
}

#tweetsTitle {
  color: #9ff;
  font-size: 3em;
}

.tweet-date {
  visibility: hidden;
}

ul {
  list-style: none;
  font-size: 1.5em;
}

ul li {
  padding-top: .5em;
}
