body {
  background: rgb(2,0,36);
  background: linear-gradient(324deg, rgba(2,0,36,1) 0%, rgba(33,54,164,1) 62%, rgba(100,150,235,1) 100%);
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.1em;
  padding: 0px 10px;
  color: #fef;
}

#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#announcements {
  position: relative;
  padding: 3em 1em;
}

#announcements > div{
  position: absolute;
  height: 100%;
  width: 100%;
}

#announcements > div img{
  max-height: 100%;
  max-width: 90%;
  top: 50%;
  transform: translate(0px, -52%);
  position: relative;
  box-shadow: 0 30px 25px 0 rgba(234, 210, 255, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

#specialAnnouncement {
  margin: 10px 0px;
}

#specialAnnouncement img {
  width: 50%;
}

.slide {
  padding: 0px 20px 0px 0px;
}

.prayerTimes .row div {
  padding: 0px;
  margin: 0px -5px;
}
