body {
  background-color: white;
  background: -webkit-linear-gradient(top, #FFF 10%, #5AF 80%,#27E 100%);
  color: #000;
  text-align:center;
  font-size: 9px;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  padding: 10px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

#fundraiser {
  height: 25%;
  font-family: 'Berkshire Swash', cursive;
}
#fundraiser > .progress {
  height: 3.5em;
  background: -webkit-linear-gradient(top, #999 10%, #CCC 20%,#FFF 100%);
}

#fundraiser > .progress > .progress-bar {
  font-size: 2.5em;
  color: black;
  background: -webkit-linear-gradient(top, #FFF 10%, #5FA 80%,#2E7 100%);
}

#announcements {
  position: relative;
  height: 55%;
}

#announcements > div{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 35px 0px;
}

.prayerTimes {
  padding: 0px;
  margin: 0px;
  font-size: 3em;
  color: #005;
  background: -webkit-radial-gradient(center, rgba(220,220,255,1) 10%, rgba(220,220,255,0.5) 40%, transparent 70%);
}

.prayerTimes > .row {
  padding-bottom: .5em;
}
* > .row > div {
  padding: 0px;
}

.classTimes {
  padding: 0px;
  font-size: 2.5em;
  color: #040;
  background: -webkit-radial-gradient(center, rgba(220,255,220,1) 10%, rgba(220,255,220,0.5) 40%, transparent 70%);
}

body .row {
  margin: 0px;
}

body * {
  padding: 0px;
}
