body {
  background-color: white;
  background: -webkit-linear-gradient(top, #FFF 10%, #5AF 80%,#27E 100%);
  color: #000;
  text-align:center;
  font-size: 10px;
  font-family: 'Redressed', cursive;
  height: 100%;
  padding: 30px;
}

#fundraiser {
  height: 33%;
}


#announcements {
  position: relative;
  height: 33%;
}

#announcements > div{
  position: absolute;
  height: 100%;
  width: 100%;
}

.prayerTimes {
  padding: 15px 20px 0px 20px;
  font-size: 4em;
  color: #037;
}

.prayerTimes .col-xs-4 .row {
  padding: 15px;
}

.classTimes {
  font-size: 4em;
  color: #073;
}
